PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/lms_db

# JWT Signature Key (Change this before deploying to production!)
JWT_SECRET=lms_super_secret_key_change_in_production
JWT_EXPIRES_IN=7d

# Email Configuration (Leave empty for Ethereal Local testing)
# For production or Tuta (Tutanota) via bridge:
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=
FROM_NAME="Digital Curator"
FROM_EMAIL="noreply@yourdomain.com"
